<section class="contenedor">

  <h2>Carrusel principal</h2>

  <div class="carrusel">

    <button class="flecha izquierda" (click)="anterior()">
      ‹
    </button>
    
    <div class="carrusel-window">
      <div class="cards" [style.transform]="getTransform()">

        <div class="card" *ngFor="let item of tarjetasCarrusel">
          <img [src]="item.imagen" [alt]="item.titulo">
          <div class="fondo"></div>
          <div class="contenido">
            <h3>{{item.titulo}}</h3>
            <p>{{item.descripcion}}</p>
          </div>
        </div>

      </div>
    </div>

    <button class="flecha derecha" (click)="siguiente()">
      ›
    </button>

  </div>

  <!-- Indicador de punticos abajo -->
  <div class="puntos">
    <span 
      *ngFor="let p of totalPuntos; let i = index"
      [class.activo]="i === slideActual"
      (click)="irAlSlide(i)">
    </span>
  </div>

</section>